* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* 
  font-family: "Open Sans", sans-serif;
  font-family: "Inter", sans-serif;
*/

main {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 72px 0 32px;

  font-family: "Inter", sans-serif;
  color: black;
  font-weight: normal;
  line-height: 56px;
  font-size: 49px;
}

h1 span {
  font-weight: bold;
  color: #f90;
}

p {
  margin-bottom: 72px;

  color: #7d7987;
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
}

p span {
  color: #f90;
}

footer {
  text-align: center;
}

#line {
  margin: 0 auto 8px;
  width: 592px;
  height: 0;
  border: 1px solid #eceff2;
}

footer a {
  color: #f90;
  font-size: 14px;
  line-height: 28px;
}

footer a + a {
  margin-left: 28px;
}

#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
